body {
    font-family: 'Montserrat', Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #121212;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    background-color: #181818;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #b3b3b3; 
    font-weight: bold;
    font-size: 1.1em;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333; 
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#playlist-form button[type="submit"] {
    background-color: #1DB954; 
}

#playlist-form button[type="submit"]:hover {
    background-color: #179E48; 
}

#autocomplete button {
    background-color: #1DB9FF;
}

#autocomplete button:hover {
    background-color: #1A8ED6;
}

#selected-songs button {
    background-color: #dc3545;
}

#selected-songs button:hover {
    background-color: #c82333;
}

#search-container {
    position: relative;
}

#autocomplete {
    display: none; 
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: #181818;
    border: 1px solid #333;
    border-radius: 4px;
    top: calc(100% + 5px);
    left: 0;
    overflow-y: auto;
    max-height: 200px;
    color: white;
}

#autocomplete ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#autocomplete li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    cursor: pointer;
    color: white;
}

#autocomplete li:hover {
    background-color: #333;
}

#autocomplete img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

#autocomplete button {
    margin-left: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#autocomplete button:hover {
    background-color: #179E48;
}

#selected-songs {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#selected-songs li {
    padding: 10px;
    background-color: #181818;
    border: 1px solid #333;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.blue {
    background-color: #1DB954;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

button.blue:hover {
    background-color: #179E48;
}

#playlist {
    margin-top: 30px;
    padding: 20px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#playlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#playlist li {
    padding: 10px;
    background-color: #181818;
    border: 1px solid #333;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playlist img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

#generated-playlist {
    margin-top: 20px;
}

a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
    background-color: #181818;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #1A8E45;
}